.store {
  background-color: #232323;
  height: 300vh;
}

.store_img {
  position: absolute;
  top: 0;
  z-index: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.store_text {
  position: relative;
  margin-top: 300px;
  margin-bottom: 139px;
  left: 120px;
  z-index: 5;
  font-size: 35px;
  font-family: "Fraunces";
  font-weight: 900;
  color: white;
  text-shadow: 1px 1px black, 2px 2px black;
  width: 400px;
}
.store_text > p:nth-child(1) {
  margin-bottom: 20px;
}
.store_body {
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.store_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin: 0 40px;
  position: sticky;
  top: 91px;
  width: 90%;
}

.store_filter > div {
  display: flex;
  align-items: center;
  font-family: "Lora";
  font-weight: 400;
  font-size: 18px;
  color: #e7e4e4;
}
.store_filter > div > h5 {
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.store_filter > div > h5:hover {
  color: #e1bf35;
}
.store_filter > div > h6 {
  margin-right: 10px;
  cursor: default;
}
.store_filter > div > button {
  margin-top: 5px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.filter_arrow {
  transition: all 0.5s ease-in-out;
}
.filter_arrow > path {
  transition: all 0.5s ease-in-out;
}
.filter_arrow:hover > path {
  fill: #dfb614;
}
.arrow_rotate {
  transform: rotate(180deg);
}
.store_grid {
  background-color: transparent;
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.grid_card {
  height: 330px;
  width: 25%;
  padding: 20px;
  background-color: white;

  margin-top: 110px;
  border-radius: 50px;
  box-shadow: 4px 4px 0px 0px #232323, 6px 6px 0px 0px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "lora";
}
.grid_card > h3 {
  width: 100%;
  margin-left: 40px;
  margin-top: 30px;
  color: #232323;
}
.grid_card > p {
  width: 100%;
  margin-left: 40px;
  font-weight: 600;
  margin-top: 5px;
  font-size: 14px;
  color: #e8ba00;
}
.grid_card > img {
  height: 160px;
  width: 160px;
  margin-top: 40px;
}
