.store {
  background-color: #232323;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px #636262;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#e4b600, #232323);
  border-radius: 10px;
}

.store_img {
  position: absolute;
  top: 0;
  z-index: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.store_text {
  position: relative;
  margin-top: 30vh;
  margin-bottom: 20vh;
  left: 120px;
  z-index: 5;
  font-size: 35px;
  font-family: "lora";

  color: white;
  text-shadow: 1px 1px black, 2px 2px black;
  width: 400px;
}
.store_text > p:nth-child(1) {
  margin-bottom: 20px;
}
.store_body {
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  position: relative;
}

.store_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin: 0 40px;
  position: sticky;
  top: 91px;
  width: 90%;
}

.store_filter > div {
  display: flex;
  align-items: center;
  font-family: "Lora";
  font-weight: 400;
  font-size: 18px;
  color: #e7e4e4;
}
.store_filter > div > h5 {
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.store_filter > div > h5:hover {
  color: #e1bf35;
}
.store_filter > div > h6 {
  margin-right: 10px;
  cursor: default;
}
.store_filter > div > button {
  margin-top: 5px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.filter_arrow {
  transition: all 0.5s ease-in-out;
}
.filter_arrow > path {
  transition: all 0.5s ease-in-out;
}
.filter_arrow:hover > path {
  fill: #dfb614;
}
.arrow_rotate {
  transform: rotate(180deg);
}
.store_grid {
  background-color: transparent;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.grid_card {
  height: 330px;
  width: 25%;
  padding: 20px;
  background-color: white;
  margin-top: 110px;
  border-radius: 50px;
  box-shadow: 4px 4px 0px 0px #232323, 6px 6px 0px 0px white;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}
.card_pro {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "lora";
  text-decoration: none;
}
.grid_cardCal {
  cursor: default;
  width: 57%;
  background-position: center;
  background-size: cover;
}
.grid_card:hover {
  padding: 20px 40px;
}
.card_pro > h3 {
  width: 100%;
  margin-left: 40px;
  margin-top: 30px;
  color: #232323;
}
.card_pro p {
  width: 100%;
  margin-left: 40px;
  font-weight: 600;
  margin-top: 5px;
  font-size: 14px;
  color: #e8ba00;
}
.card_pro img {
  height: 160px;
  width: 160px;
  margin-top: 40px;
}
.pro_view {
  width: 90%;
  background-color: #232323;
  color: rgb(240, 239, 239);
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
.grid_card:hover .pro_view {
  display: flex;
  opacity: 1;
  pointer-events: all;
}

.card_cal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  font-family: "Lobster Two";
  margin-left: 20px;
}

.card_cal > div > span:nth-child(1) {
  color: #dfb614;
}
.card_cal > div {
  color: #232323;
  font-size: 33px;
}

.card_cal > button {
  width: 22%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #232323;
  outline: none;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.grid_discover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #232323;
  font-family: "Lobster Two";
  font-size: 22px;
}
.grid_discover > div > span:nth-child(1) {
  color: #dfb614;
}

.store_footer {
  position: absolute;
  bottom: 30px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.store_footer > ul {
  color: white;
  display: flex;
  align-items: center;
  flex: 0.6;
  justify-content: space-between;
  list-style: none;
  margin-left: 20px;
  font-size: 14px;
  font-family: "lora";
}
.store_footer > ul > li {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.store_footer > ul > :hover {
  color: #dfb614;
}
.footer_icons {
  color: white;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: space-evenly;
  flex: 0.2;
}
.footer_icons > svg {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.footer_icons > svg:hover {
  color: #dfb614;
}
