.store {
  background-color: #232323;
  height: 300vh;
}

.store_img {
  position: absolute;
  top: 0;

  height: 100vh;
  width: 100%;
  background-image: url("../assats/manBackGround.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
